#mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

#centeredDiv {
  text-align: center;
}

#backgroundStyling{
    background-color: #90EE90;
}

.paddingDiv {
  padding: 20px;
}

#listStyling {
  padding: 0px;
  list-style-position: inside;
  font-size: 24px;
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
}
