#mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: navy;
}

#centeredDiv {
  text-align: center;
}

#backgroundStyling {
  /**background: linear-gradient(to right, #94bbe9, #eeaeca);**/
  background-color: #edf3f5;
  /**e1fbe3**/
}

.paddingDiv {
  padding: 15px;
}
 
.linkStyling {
  color: black;
}

.linkStyling:hover{
    /**color: #647eea;**/
    color: #3670c9;
    ;
}

#listStyling {
  padding: 0px;
  list-style-position: inside;
  font-size: 22px;
  display: inline-block;
  text-align: left;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 350;
}

h1 {
  font-size: 28px;
  /**font-family: 'Roboto', sans-serif;**/
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 350;
}

.link-container {
  display: flex;
  display: flex;
  justify-content: space-between;
}

li{
  color: #404040	;
}

h1{
  /**color: #647eea;**/
  color: #3670c9;
}

img{
  width: 6251px;
  height: 100px;
}