#mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: navy;
}

#centeredDiv {
  text-align: center;
}

#backgroundStyling {
  /**background: linear-gradient(to right, #94bbe9, #eeaeca);**/
  background-color: #F8F8F8;
}

.paddingDiv {
  padding: 15px;
}
 
.linkStyling {
  color: black;
}

.linkStyling:hover{
    color: #647eea;
    ;
}

#listStyling {
  padding: 0px;
  list-style-position: inside;
  font-size: 24px;
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 28px;
  /**font-family: 'Roboto', sans-serif;**/
  font-family:Georgia, serif; font-weight: lighter}

.link-container {
  display: flex;
  display: flex;
  justify-content: space-between;
}

li{
  color: #404040	;
}

h1{
  color: #647eea;
}